
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    gap: 10px;
}

#testimony-1 {
    display: grid;
    grid-column: 1/3;
    grid-row: 1;
}

#testimony-3 {
    display: grid;
    grid-column: 1; 
    grid-row: 2;
}


#testimony-4 {
    display: grid;
    grid-column: 2/4;
    grid-row: 2;
}

/* style for 
bottom note about challenge location
and who it was codeed by*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
 }